.content{
    margin-top: 130px;
    min-height: 50vh;
}

#menu
{
    margin-top: -50px;
    width: 25rem ;
    background-color: whitesmoke;
}

#menu a
{
    margin: 2.5rem;
}

#menu h2
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


/* -------- page info -------- */
.contenu form h2
{
    width: 15rem;
    font-size: 20px;
}

.contenu  {
    margin-left: 3rem;
}

.contenu form {
    margin: 2rem;
}

.contenu input[type="button"] {
    margin: 5vh 0px;
    height: 4rem;
    width: 30%;
    
}

#form-info{
    margin-right: 3rem;
    margin-left: -3rem;
}
