body {
    min-height: 50vh;
}

.content{
    margin-top: 130px;
    min-height: 50vh;
}

#menu
{
    /* A corriger pour la taille du paneau lateral */
    /* max-width: 350px; */
    margin-top: -50px;
    width: 25rem ;
    background-color: whitesmoke;
}

#menu a
{
    margin: 2.5rem;
}

#menu h2
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contenu  {
    margin-left: 3rem;
}

/* --------- page legal ------- */
#legal-page {
    width: 100%;
    gap: 2rem;
}
#legal-page p{
    color: var(--dark-text-color);
}
#legal-page .button-download {
    height: 4rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
}
#legal-page .card{
    height: fit-content;
    gap: 1rem;
}

/* -------- page info -------- */
#account-form .contenu div h2
{
    width: 15rem;
    font-size: 20px;
}

#account-form .contenu div {
    margin: 2rem;
}



.contenu > input[type="button"], #mdp, .contenu > input[type="submit"]{
    margin: 5vh 0px;
    height: 4rem;
    width: 30%;   
}

#mdp > input[type="button"]{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#form-enregistrer{
    display: none;
}

#form-info{
    display: block;
}

#form-info, #form-enregistrer{
    margin-right: 3rem;
    margin-left: -3rem;
}



.post-it{
    background-color: rgb(255, 255, 202);
}


/* -------- page commandes -------- */

.content .commandes, .content #commandes-vide {
    min-height: 60vh;
    margin: 3rem;
    margin-top: 0px;
    padding: 3rem;
    width: 100%;
    background-color: white
}
.content .commandes summary {
    font-weight: bold;
}
.content .commandes details {
    margin-bottom: 1rem;
}
.content #commandes-vide h1 {
    text-align: center;
    margin-top: 7rem;
}