.content{
    margin-top: 130px;
    min-height: 50vh;
}

#menu
{
    margin-top: -50px;
    padding-bottom:20rem;
    /* padding-left:3rem; */
    background-color: whitesmoke;
}

#menu a
{
    padding: 2.5rem;
}

#menu h2
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


/* -------- page info -------- */
content form h2
{
    width: 18rem;
    font-size: 20px;
}

.content .contenu  {
    margin-left: 3rem;
}

.content form {
    margin-bottom: 2rem;
}

.content .contenu input[type="button"] {
    margin: 5vh 0px;
    height: 4rem;
    width: 80%;
}