.hero div{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.hero a{
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    color: black;
    width: 150px;
    height: 40px;
}