body {
    min-height: 50vh;
}

.content, #panier-vide, #panier-pas-connecte { 
    min-height: 70vh;
    margin: 3rem;
    margin-top: 18vh;
    text-align: center;
}

.content .liste-panier, .content .legende {
    margin: 0.6rem 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.content h2 {
    margin-bottom: 2.5rem;
}
.content h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: black;
}
.content p {
    color: black;
}
.content .legende p {
    font-weight: bold;
}

.contenu form {
    margin: 1.5rem;
}
.contenu input[type="submit"] {
    margin: 1.5rem;
    height: 3.5rem;
    width: 19rem;
}


/* Gestion du cas où le panier est vide et du cas où l'utilisateur n'est pas connecté */

#panier-pas-vide {
    display: block;
}
#panier-vide, #panier-pas-connecte {
    display: none;
    min-height: 50vh;
}
#panier-vide h1, #panier-pas-connecte h1 {
    margin-top: 7rem;
    color: black;
}

/* Positionnement des éléments */
.content table {
    border-collapse: collapse;
    width: 100%;
}
.content td {
    /* border: solid black 1px; */
    width: 33%;
}
.content .col1 {
    text-align: left;
}
.content .col2 {
    width: 20%;
}
.content .col3 td {
    width: 25%;
}