body {
    min-height: 60vh;
}

.content{
    margin-top: 130px;
    gap: 3rem;
    padding: 0 3rem 3rem 3rem;
    justify-content: center;
}

#carousel{
    position: relative;
    overflow: hidden;

    flex: 2;
    background-color: white;
    max-height: 420px;
    max-width: 420px;
}

#carousel .image-wrapper{
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    height: 100%;
    width: 100%;
}

#carousel > .nav{
    z-index: 1;
    top: 50%;
    position: absolute;
    background-color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#carousel > .nav.before{
    left: 10px;
}

#carousel > .nav.next{
    right: 10px;
    
}


#carousel > .image-wrapper > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

form{
    color: black !important;
    gap: 1.5rem;
    width: 400px;
}
    /* Les headers au seing du formulaire */

    form h2{
        font-weight: 400;
    }

    /* Choix multiples */

    fieldset{
        gap: 0.5rem;
    }

    .scrollable-fieldset{
        max-width: 360px;
        overflow-x: auto;
        padding: 0.4rem;
    }

    #colors-container input[type="radio"] {
        padding: 0;
    }

    #colors-container input[type="radio"]:checked{
        padding: 6px;
    }

    #sizes-container input[type="radio"] {
        padding: 0;
        border: none;
        width: 80px;
    }

    #sizes-container input[type="radio"]:disabled {
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }


    #sizes-container input[type="radio"]:checked{
        border: 3px solid #0055ffb7;
    }

    #sizes-container [data-content]:before {
        position: sticky;
        margin: auto;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 0.4rem;
        font-size: 1.3rem;
        width: 80px;
        content: attr(data-content);
    }

    /* Bouton d'envoie */

    #submit{
        margin-top: 0;
        width: fit-content;
        padding: 1rem 1.5rem 1rem 1.5rem;
    }