.content{
    margin-top: 130px;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.carousel{
    flex: 2;
    background-color: white;
}

form{
    color: black !important;
    gap: 1.5rem
}
    /* Les headers au seing du formulaire */

    form h2{
        font-weight: 400;
    }

    /* Choix multiples */

    fieldset{
        gap: 0.5rem;
    }

    #colors-container{
        gap: 0.5rem;
    }

    #colors-container input[type="radio"] {
        padding: 0;
    }

    #sizes-container{
        gap: 0.5rem;
    }

    #sizes-container input[type="radio"] {
        padding: 0;
        content: attr('content');
        border: none;
        width: 80px;
    }

    #sizes-container input[type="radio"]:checked{
        border: 3px solid #0e2adc;
    }

    /* Bouton d'envoie */

    #submit{
        margin-top: 0;
        width: fit-content;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }