body {
    min-height: 60vh;
}

.content{
    margin-top: 130px;
    gap: 3rem;
    padding: 0 3rem 3rem 3rem;
    justify-content: center;
}

.carousel{
    flex: 2;
    background-color: white;
    max-height: 440px;
    max-width: 700px;

    background-image: url("/assets/images/uploads/woc4Eem9Pdaw6X5w.png");
    background-size: cover;
}

form{
    color: black !important;
    gap: 1.5rem;
    width: 400px;
}
    /* Les headers au seing du formulaire */

    form h2{
        font-weight: 400;
    }

    /* Choix multiples */

    fieldset{
        gap: 0.5rem;
    }

    .scrollable-fieldset{
        max-width: 360px;
        overflow-x: auto;
        padding: 0.4rem;
    }

    #colors-container input[type="radio"] {
        padding: 0;
    }

    #colors-container input[type="radio"]:checked{
        padding: 6px;
    }

    #sizes-container input[type="radio"] {
        padding: 0;
        content: attr('content');
        border: none;
        width: 80px;
    }

    #sizes-container input[type="radio"]:checked{
        border: 3px solid #0055ffb7;
    }

    #sizes-container [data-content]:before {
        position: sticky;
        margin: auto;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 0.4rem;
        font-size: 1.3rem;
        width: 80px;
        content: attr(data-content);
    }

    /* Bouton d'envoie */

    #submit{
        margin-top: 0;
        width: fit-content;
        padding: 1rem 1.5rem 1rem 1.5rem;
    }