/*
    Projet SAE
    Crouskie WEB
    https://forge.univ-lyon1.fr/p2100126/crouskie-sa

    Elliot CASNA, Anne PASSELEGUE, Thomas WARRIER, Marc BERIOT, Virgile MENARD-BEDIANT

    Ce fichier CSS regroupe tout les éléments commun aux différentes pages,
    si une page nécessite un css spécifique, il faut lui dédier un fichier CSS

*/


/*=========== Imports (Fonts) ==========*/

/*
    Exemple d'import : 

    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka:wght@300;400;500&display=swap');

*/

/*============ Variables CSS ============*/

:root{
    /*============ Couleurs ============*/

    --first-color: rgb(65, 126, 255);
    --second-color: rgba(3, 8, 103, 1);
    /* --background-gradient: linear-gradient(120deg, var(--first-color) 0%, var(--second-color) 100%);
    --reverse-background-gradient: linear-gradient(120deg, var(--second-color) 0%, var(--first-color) 100%); */
    --text-color: rgb(255, 255, 255);
    --dark-text-color: rgb(85, 84, 84);
    --shadow-box: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*============ Fonts et typo ============*/

    --title-font: 'Montserrat'; /* TODO Importer police Chalet custom */
    --main-font: 'Montserrat', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --bigger-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.25rem;
    --smallest-font-size: 0.125rem;

    /*============ Fonts weight ============*/

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;

    /*============== Effects ===============*/

    --blur: blur(5px);
    -webkit-font-smoothing: antialiased;
}

/*============ CSS Globale ============*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}

/*============ Composants Basiques ============*/

/*============ Extra ============*/

.blured{
    filter: var(--blur);
}

/*============ Inputs ============*/

button{
    /* Propriétés basiques */
    color: var(--text-color);
    background-color: var(--first-color);
    margin-top: 0.5rem;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    /* Fonts */
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--font-medium);
    box-shadow: var(--shadow-box);

    /* Rempli la largeur du parent */
    width: 100%;
    
    /* Transition pour le hover, focus... */
    /* TODO spécifier la propriété */
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

/* TODO les propriétés hover et focus du bouton */

/*============ Composants Complexes ============*/

.header{
    /* A faire */
    
}

.footer{
    /* A faire */
}