.search{
    margin-top: 130px;
}

#input-search{
    width: 50%;
}

/* Container des produits */
#products{
    min-height: 70vh;
    margin-top: 2rem;
    gap: 2rem;

    padding: 0 2rem 2rem 2rem;
}

/* Items dans les produits */

/* temporaire */
a{
    height: fit-content;
}

.product-item{
    height: fit-content;
    background-color: white;
    align-items:center;
    gap: 1rem;
    padding-bottom: 1rem;
    font-weight: var(--font-medium);
}

    .product-item img{
        height:250px;
        width: 250px;
        object-fit: cover;
    }

    .product-item .details{
        gap: 0.5rem;
    }